alias ll="ls -l"
alias la="ls -a"
alias ls="ls -F"
alias rm='rm -i';
alias cp='cp -iP';
alias mv='mv -i';
alias grep='grep -sHn'

alias gitp='git pull'
alias gitr='git remote show origin'
alias gitpu='git push'
alias gitc='git commit -a -m "Changes added"'
alias gitcp='gitc; git push'
alias gitco='git checkout'
alias gitb='git branch'
alias gits='git status'
alias gita='git add'

alias pipi="pip --proxy $PROXY --trusted-host pypi.python.org --trusted-host pypi.org --trusted-host files.pythonhosted.org  --default-timeout=100 install "

alias gitreset='git reset --hard origin/master; git pull origin master'

