<style>
input::file-selector-button:hover{
  background-color: firebrick;
}
.drag_hover0 { border: 2px dashed #ccc; border-radius: 6px;}
.drag_hover1 { border: 2px dashed firebrick; }

.fileinput {
    font-size: small;
    text-align: center;
    width: 95%;
}
#file_drop {
    height: 200px;
    display: flex;
}
</style>

<form id="form_files" >
    {% csrf_token %}
<!-- FILE UPLOADS -->
    <br/>
    <div id="file_drop"  class="drag_hover0" 
        style="text-align: center; padding: 4; width: 100%; 
            background-image: url('/static/imgs/upload-03.png');
            background-repeat: no-repeat;
            background-size: 64px;
            background-position-x: center;
            background-position-y: 70px;
            min-height: 120px;
            flex-direction: column;"
        ondragenter="dragenterx()"  
        ondragover="dragenterx()"  
        ondragleave="dragleavex()"  
        ondrop="dragleavex()" 
        >
        <span style="color:#aaa; font-size: smaller;"> Drag files.</span>
        <div> 
            <input id="file_id" name=file type="file" style="align-content: space-around;" 
            class="fileinput "  multiple=multiple onchange="handleFileSelect(this, '#context')"   accept="*" > 
        </div>
        <div id=filenames style="font-size:x-small; text-align: left; overflow: auto;"></div>
    </div>
</form>
<script>
DD_MAX_FILES = 10

function  dragenterx() {
    $('#file_drop').addClass('drag_hover1')
    $('#file_drop').css('background-image', 'url("/static/imgs/upload-04.png")');
}

function dragleavex() {
    $('#file_drop').removeClass('drag_hover1') 
    $('#file_drop').css('background-image', 'url("/static/imgs/upload-03.png")');
}
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function _processFilesCB( responseTxt, statusTxt, xhr, ctx, formData) {
    salert(responseTxt, "btn-success")
}
function _processFiles(url="/app/upload/") {
    callws(url, "form_files", _processFilesCB, ctx)
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
function handleFileSelect(fileControl, resultsDIV="#context", previewDIV="previewDIV") {
    if (!resultsDIV || fileControl.files.length <= 1)
        return;

    var lst = `<table class="table table-striped table-bordered table-resizable table-sm " 
                style="width:100%; background-color: #fafafa; " cellpadding="10px">
          `
    for (var i=0; i<fileControl.files.length; i++) {
        var file = fileControl.files[i];
        msg = `<td><a href=# onclick='handlePreviewFile( ${i}, "${previewDIV}" )'>PRR</a></td>`;
        if (!previewDIV)
            msg = "";
        msg = "";

        if ( file.size > 100*1024*1024) {
            msg = "size big";
        }
        lstr = `<tr><td>${file.name}</td></tr>\n`
        lst += lstr;
        //console.log(lstr)
    }
    lst += "</table>";

    $('#filenames').html(lst)

}

</script>