<a class="navbar-brand" href="/">
    <img src="/static/example_app/imgs/collect.png" width="25vw">
</a>
<span class="our_menu" style="color: #003478 !important;font-weight: 900; font-size: larger; "> Example App </span>
<span id="common_status" class="" style="width: 50px; text-align:right; display: hidden; white-space: nowrap; overflow: visible;"></span>

<ul class="navbar-nav ml-auto mt-2 mt-lg-0">

<li class="nav-item mr-4 mb-2 mb-lg-0">
    <a class="nav-link" href="/example_app/example_app/index.html"  > 
        <i class="fas fa-info-circle"></i> &nbsp; <span class="our_menu">Example App</span></a>
</li>
        
<li class="nav-item mr-4 mb-2 mb-lg-0">
    <a class="nav-link" href="/example_app/example_app/about.html"  > 
        <i class="fas fa-info-circle"></i> &nbsp; <span class="our_menu">About</span></a>
</li>
    
<li class="nav-item mr-4 mb-2 mb-lg-0">
    <a class="nav-link" href="/example_app/info/"  > 
        <i class="fas fa-bolt"></i> <span class="our_menu">info</span></a>
</li>
 
<li class="nav-item mr-4 mb-2 mb-lg-0">
    <a class="nav-link" onclick="toggleThemeDemo()" id="main-toggle">
        <i class="fas fa-moon"></i>
    </a>
</li>

<script>

// Update theme display
function updateThemeDisplay() {
    const theme = window.getCurrentTheme();
    
    const toggleBtn = document.getElementById('main-toggle');
    const toggleText = document.getElementById('toggle-text');
    
    if (theme === 'dark') {
        toggleBtn.innerHTML = '<i class="fas fa-sun"></i>';
    } else {
        toggleBtn.innerHTML = '<i class="fas fa-moon"></i>';
    }
}

// Toggle theme and update display
function toggleThemeDemo() {
    window.toggleTheme();
    updateThemeDisplay();
}
updateThemeDisplay()
</script>
