<script>
navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia ||
    navigator.msGetUserMedia;

let _START_DETECT_WAKEWORD = 1
let _CHECK_WAKEWORD_IN_PROGRESS = 0

function detectWakewordCB(responseTxt, statusTxt, xhr, context, formData) {
    _CHECK_WAKEWORD_IN_PROGRESS = 0
    var ret = (responseTxt) ? JSON.parse(responseTxt) : null
    if (ret && ret.length > 0) {
        console.log(ret)
        stopWW()
        if (context.callback){
            (typeof(context.callback) === "string")? eval(context.callback): context.callback(ret)
        }
    }
}
let WW_AUDIO_Stream = null
function stopWW() {
    if (WW_AUDIO_Stream) {
        WW_AUDIO_Stream.getAudioTracks()[0].stop();
        WW_AUDIO_Stream = null
    }
}
function startWakeWordDetectLoop(cb = () => { }) {
    if (!navigator.getUserMedia) {
        console.log('getUserMedia not supported in this browser.');
        return
    }
    let audioContext;
    let volume
    let recorder;

    navigator.getUserMedia({ audio: true, video: false }, function (stream) {

        WW_AUDIO_Stream = stream
        const context = window.AudioContext || window.webkitAudioContext;
        audioContext = new AudioContext({ sampleRate: 16000 });

        volume = audioContext.createGain();           // creates a gain node
        const audioInput = audioContext.createMediaStreamSource(stream);
        audioInput.connect(volume);

        recorder = (audioContext.createScriptProcessor ||
            audioContext.createJavaScriptNode).call(audioContext, 4096*4, 1, 1);

        recorder.onaudioprocess = async function (event) {
            if (!_START_DETECT_WAKEWORD || _CHECK_WAKEWORD_IN_PROGRESS)
                return
            _CHECK_WAKEWORD_IN_PROGRESS = 1

            const samples = event.inputBuffer.getChannelData(0);
            noneZeroFound = 0
            maxValue = 1e-10000
            minValue = 1e+10000
            for (var i = 0; i < samples.length; i++) {
                //if (samples[i] > 0.0001) {
                    noneZeroFound = 1
                //    break
                //}
                if ( samples[i] > maxValue) {
                    maxValue = samples[i]
                }
                if ( samples[i] < minValue) {
                    minValue = samples[i]
                }
            }
            var silent = maxValue < 0.1 || minValue > -0.1;

            if (!noneZeroFound || silent) {
                _CHECK_WAKEWORD_IN_PROGRESS = 0
                return
            }
            //_CHECK_WAKEWORD_IN_PROGRESS = 0; console.log(minValue, maxValue); return
            
            const PCM16iSamples = samples.map(sample => {
                let val = Math.floor(32767 * sample);
                return Math.min(32767, Math.max(-32768, val));
            });
            const int16Array = new Int16Array(PCM16iSamples);
            const blob = new Blob([int16Array], { type: 'application/octet-stream' });
            //ws.send(blob);
            data = {
                callback: cb, file: blob
            }
            //resp = setTimeout(callws, 10, '/geoaudio/detectWakeword/', "", detectWakewordCB, data, {show_busy: 0});
            callws('/geoaudio/detectWakeword/', "", detectWakewordCB, data, {show_busy: 0});
        };
        volume.connect(recorder);
        recorder.connect(audioContext.destination);

    }, function (error) {
        alert('Error capturing audio.');
    });
}

</script>