<!--
-->
<style>
.ripples_activea{animation: growAndFadeR 3s infinite ease-out;}    
</style>

<script>
if (typeof(_GEOAUDIO_CONTROL) === "undefined" ) {
    _GEOAUDIO_CONTROL = "faudio"
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
var _geoAudio = new GeoAudio(() => { }, _GEOAUDIO_CONTROL)
var _TRANSCRIBE_IN_PROGRESS = false

async function transcribeCB(responseTxt, statusTxt, xhr, context, formData) {
    _TRANSCRIBE_IN_PROGRESS = false
    //console.log("transCB ... ", responseTxt, context.dest)
    if ( context.dest) {
        $(context.dest).val(responseTxt)
    }
    if ( context.callback) {
        (typeof(context.callback) === "string")? eval(context.callback): context.callback()
    }
}
async function transcribe(callback=null, checkProgress=1, dest='#prompt') {
    if ( checkProgress && _TRANSCRIBE_IN_PROGRESS )
        return 
    _TRANSCRIBE_IN_PROGRESS = true
    data = {
        callback: callback,  file: _geoAudio.bblob, dest: dest
    }
    //console.log("TRANSCRIBING ... ", data)
    resp = await callws('/geoaudio/transcribe/', "", transcribeCB, data );
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
async function geoaudio_trans_listen(opts={}) {
    let DEF_OPTS={first:0, id: '#listen', wakeword:"", max_wait:10, waitForSilence:0, callback:null, dest:'#prompt'}
    opts = Object.assign({}, DEF_OPTS, opts);

    if (opts.first) {
        $(opts.id).addClass("ripples_activea")
        $(opts.id).blur()
        _geoAudio.stopRecording()
        _geoAudio.faudio.src = null
        _geoAudio.startRecording()
        opts.first = 0
        setTimeout(geoaudio_trans_listen, 2000, opts)
        return
    }
    var silent = false
    opts.first = 0
    //console.log("==> 2. ", a.faudio.duration , new Date().toISOString()  )
    try {
        await _geoAudio.exportRecording()
        silent = await isSilent(_geoAudio.faudio.src, 2)

        if ((silent && _geoAudio.faudio.duration > 2) || (!opts.waitForSilence && _geoAudio.faudio.duration > opts.max_wait)) {
            $(opts.id).attr("color", "")
            $(opts.id).removeClass("ripples_activea")
            await _geoAudio.stopRecording()
            transcribe(opts.callback, 0, opts.dest)
            return
        }
        else {
            transcribe()
        }
    } catch (e) {
        console.log(e)
    }
    //console.log("==> 0. ", new Date().toISOString()  )
    setTimeout(geoaudio_trans_listen, 2000, opts)
}
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
async function listen(first = 0, id = '#listen', wakeword="", callback=null) {
    let opts={first:first, id: id, wakeword:wakeword, max_wait:10, waitForSilence:1, callback:callback}
    return geoaudio_trans_listen(opts)
}
</script>