<style>
.navbar-nav .nav-link {
    font-family: 'Roboto', sans-serif, ;
    font-weight: 350;
    flex-direction: row;
    font-size: 0.9em;
    color:  gray;
}    
</style>

<a class="navbar-brand" href="/">
    <img src="/static/example_app/imgs/collect.png" width="25vw"> 
</a>
<span class="our_menu" style="font-weight: 900; font-size: larger; "> Main App </span>
<span id="common_status" class="" style="width: 50px; text-align:right; display: hidden; white-space: nowrap; overflow: visible;"></span>

<ul class="navbar-nav ml-auto mt-2 mt-lg-0">

<li class="nav-item mr-4 mb-2 mb-lg-0">
    <a class="nav-link" href="/mainapp/mainapp/index.html"  > 
        <span class="our_menu">App</span></a>
</li>
        
<li class="nav-item mr-4 mb-2 mb-lg-0">
    <a class="nav-link" href="/mainapp/feedback/?from={{ request.build_absolute_uri }}" target="feedback_tab"> 
        <span class="our_menu">Feedback</span></a>
</li>
    
<li class="nav-item mr-4 mb-2 mb-lg-0">
    <a class="nav-link" href="/mainapp/info/"  > 
        <span class="our_menu">info</span></a>
</li>
 

<li class="nav-item mr-4 mb-2 mb-lg-0">
    <a class="nav-link" onclick="toggleThemeDemo()" href="#" id="main-toggle">
        <i class="fas fa-moon"></i><span class="our_menu">.</span>
    </a>
</li>

<script>

// Update theme display
function updateThemeDisplay() {
    const theme = window.getCurrentTheme();
    
    const toggleBtn = document.getElementById('main-toggle');
    const toggleText = document.getElementById('toggle-text');
    
    if (theme === 'dark') {
        toggleBtn.innerHTML = '<i class="fas fa-sun"></i><span >&nbsp;</span>';
    } else {
        toggleBtn.innerHTML = '<i class="fas fa-moon"></i><span">&nbsp;</span>';
    }
}

// Toggle theme and update display
function toggleThemeDemo() {
    window.toggleTheme();
    updateThemeDisplay();
}
updateThemeDisplay()
</script>
