{% extends "common.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-fluid" style="z-index: 3000;">
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>
    <p>
        {% trans 'You will be redirected to the login page in 4 seconds.' %}
    </p>
</div>
<script>
setTimeout(function() {
    window.location.href = "/accounts/login/";
  }, 4000); // 4000 milliseconds = 4 seconds 
</script>

{% endblock %}

